<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create folder</title>
</head>

<body>
    <h1>Create folder</h1>
    <form action="/files/<%= folder.id %>/create" method="POST">
        <label for="folderName">Name</label>
        <input id="folderName" name="folderName" type="text" />
        <button type="submit">Submit</button>
    </form>
    <%- include('footer', {}) %>
</body>

</html>