<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>

<body>
    <%- include('navbar', { files: true }) %>
    <div>
        <br />
        <% if (children) { %>
            <% children.forEach((child) => { 
                let link = `/files/${child.id}/`;
                if (child.type === 'FOLDER') {
                    link = `/files/${child.id}/children`;
                }
            %>
                <a href="<%= link %>"><%= child.name %></a><br/>
            <% }) %>
        <% } %>
    </div>
</body>

</html>