<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>

<body>
    <h1>Upload</h1>
    <form action="/files/<%= currentFolderId %>/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="uploaded_file" />
        <input type="submit" value="Submit">
    </form>
    <%- include('footer', {}) %>
</body>

</html>